body{
  background: #8e0418;
}

.ring{
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

#ring1{
  width: 91%;
  height: 160%;
  background-color: #9e161b;
  animation: grow backwards 1s,
             shrink 0.3s 1s linear,
             normalize 1s 1.3s,
             sink both 0.8s 2.7s;
}

#ring2{
  width: 73%;
  height: 130%;
  background-color: #a9251e;
  animation: grow backwards 1s 0.5s,
             shrink 0.3s 1.5s linear,
             normalize 1s 1.8s,
             sink both 0.8s 3s;
}

#ring3{
  width: 56%;
  height: 100%;
  background-color: #b23120;
  animation: grow backwards 1s 0.9s,
             shrink 0.3s 1.9s linear,
             normalize 1s 2.2s,
             sink both 0.8s 3.3s;
}

#ring4{
  width: 39%;
  height: 70%;
  background-color: #b83a22;
  animation: grow backwards 1s 1.2s,
             shrink 0.3s 2.2s linear,
             normalize 1s 2.5s,
             sink both 0.8s 3.6s;
}

#inner_ring{
  width: 23%;
  height: 40%;
  background-color: #0f2e51;
  animation: grow backwards 1s 1.6s,
             shrink 0.3s 2.6s linear,
             normalize 1s 2.9s,
             sink both 0.8s 3.9s;
}

/*// KEYFRAMES //*/

@keyframes grow{
  from{ transform: scale(0, 0) }
  to{ transform: scale(1, 1) }
}

@keyframes shrink{
  from{ transform: scale(1, 1) }
  to{ transform: scale(0.95, 0.95) }
}

@keyframes normalize{
  from{ transform: scale(0.95, 0.95) }
  to{ transform: scale(1, 1) }
}

@keyframes sink{
  0%{ box-shadow: none }
  100%{ box-shadow: inset 0 0 40px #000000 }
}
